﻿-- =============================================
-- DROP OLD DATABASE
-- =============================================
DROP DATABASE IF EXISTS DealerManagementSystem;

-- =============================================
-- CREATE NEW DATABASE
-- =============================================
CREATE DATABASE DealerManagementSystem 
CHARACTER SET utf8mb4 
COLLATE utf8mb4_unicode_ci;

USE DealerManagementSystem;

-- Disable safe update mode for this script
SET SQL_SAFE_UPDATES = 0;

-- =============================================
-- CREATE TABLES (Vehicle-Centric Design)
-- =============================================

-- 1. DEALER
CREATE TABLE Dealer (
    dealer_id BIGINT AUTO_INCREMENT PRIMARY KEY,
    dealerName VARCHAR(255) NOT NULL,
    phone VARCHAR(50),
    address VARCHAR(500),
    createdBy VARCHAR(100),
    createdDate DATETIME DEFAULT CURRENT_TIMESTAMP,
    status VARCHAR(20) NOT NULL DEFAULT 'ACTIVE'
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- 2. USER
CREATE TABLE `User` (
    user_id BIGINT AUTO_INCREMENT PRIMARY KEY,
    userName VARCHAR(100) NOT NULL UNIQUE,
    fullName VARCHAR(255),
    password VARCHAR(255) NOT NULL,
    phone VARCHAR(50),
    email VARCHAR(255) UNIQUE,
    role VARCHAR(50) NOT NULL,
    dealer_id BIGINT,
    createdDate DATETIME DEFAULT CURRENT_TIMESTAMP,
    dateModified DATETIME,
    refreshTokenExpiryTime DATETIME(6),
    resetToken VARCHAR(255),
    resetTokenExpiry DATETIME(6),
    FOREIGN KEY (dealer_id) REFERENCES Dealer(dealer_id)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- 3. CUSTOMER
CREATE TABLE Customer (
    customer_id BIGINT AUTO_INCREMENT PRIMARY KEY,
    customerName VARCHAR(255) NOT NULL,
    email VARCHAR(255),
    phone VARCHAR(50),
    dealer_id BIGINT,
    createBy VARCHAR(100),
    FOREIGN KEY (dealer_id) REFERENCES Dealer(dealer_id)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- 4. VEHICLE MODEL
CREATE TABLE VehicleModel (
    model_id BIGINT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(100) NOT NULL,
    description TEXT,
    status VARCHAR(50) NOT NULL DEFAULT 'ACTIVE',
    manufacturer VARCHAR(100) NOT NULL DEFAULT 'VinFast',
    year INT NOT NULL DEFAULT 2024,
    body_type VARCHAR(50)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- 5. VEHICLE VARIANT
CREATE TABLE VehicleVariant (
    variant_id BIGINT AUTO_INCREMENT PRIMARY KEY,
    model_id BIGINT NOT NULL,
    name VARCHAR(150) NOT NULL,
    image VARCHAR(500),
    status VARCHAR(50) NOT NULL DEFAULT 'ACTIVE',
    msrp DECIMAL(18, 2) NOT NULL DEFAULT 0,
    FOREIGN KEY (model_id) REFERENCES VehicleModel(model_id)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- 6. VEHICLE DETAIL (1-1 with Variant)
CREATE TABLE VehicleDetail (
    detail_id BIGINT AUTO_INCREMENT PRIMARY KEY,
    variant_id BIGINT NOT NULL UNIQUE,
    dimensions_mm VARCHAR(100),
    wheelbase_mm INT,
    ground_clearance_mm INT,
    curb_weight_kg INT,
    seating_capacity INT,
    trunk_capacity_liters INT,
    engine_type VARCHAR(255),
    max_power VARCHAR(100),
    max_torque VARCHAR(100),
    top_speed_kmh INT,
    drivetrain VARCHAR(100),
    drive_modes VARCHAR(255),
    battery_capacity_kwh DECIMAL(10, 2),
    range_per_charge_km INT,
    charging_time VARCHAR(255),
    exterior_features TEXT,
    interior_features TEXT,
    airbags VARCHAR(100),
    braking_system VARCHAR(255),
    has_esc BOOLEAN,
    has_tpms BOOLEAN,
    has_rear_camera BOOLEAN,
    has_child_lock BOOLEAN,
    CONSTRAINT FK_VehicleDetail_VehicleVariant FOREIGN KEY (variant_id) 
        REFERENCES VehicleVariant(variant_id) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- 7. MANUFACTURER STOCK (Warehouse Container - NO variant/color/quantity)
CREATE TABLE ManufacturerStock (
    manufacturer_stock_id BIGINT AUTO_INCREMENT PRIMARY KEY,
    warehouse_name VARCHAR(100) NOT NULL,
    location VARCHAR(255),
    status VARCHAR(50) DEFAULT 'ACTIVE',
    quantity INT NOT NULL DEFAULT 0
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- 8. INVENTORY STOCK (Dealer Warehouse Container - NO variant/color/quantity)
CREATE TABLE InventoryStock (
    stock_id BIGINT AUTO_INCREMENT PRIMARY KEY,
    dealer_id BIGINT NOT NULL,
    status VARCHAR(50) DEFAULT 'ACTIVE',
    quantity INT NOT NULL DEFAULT 0,
    FOREIGN KEY (dealer_id) REFERENCES Dealer(dealer_id)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- 9. VEHICLE (Central Entity with VIN)
CREATE TABLE Vehicle (
    vehicle_id BIGINT AUTO_INCREMENT PRIMARY KEY,
    vin_number VARCHAR(100) NOT NULL UNIQUE,
    variant_id BIGINT NOT NULL,
    color VARCHAR(50) NOT NULL,
    image VARCHAR(500),
    manufacture_date DATE,
    warranty_expiry_date DATE,
    status VARCHAR(50), -- IN_MANUFACTURER_STOCK, IN_DEALER_STOCK, SOLD, IN_TRANSIT
    manufacturer_stock_id BIGINT,
    inventory_stock_id BIGINT,
    FOREIGN KEY (variant_id) REFERENCES VehicleVariant(variant_id),
    FOREIGN KEY (manufacturer_stock_id) REFERENCES ManufacturerStock(manufacturer_stock_id),
    FOREIGN KEY (inventory_stock_id) REFERENCES InventoryStock(stock_id),
    CONSTRAINT CHK_Vehicle_Location CHECK (
        (manufacturer_stock_id IS NOT NULL AND inventory_stock_id IS NULL) OR
        (manufacturer_stock_id IS NULL AND inventory_stock_id IS NOT NULL) OR
        (manufacturer_stock_id IS NULL AND inventory_stock_id IS NULL AND status = 'SOLD')
    )
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- 10. SALE PRICE
CREATE TABLE SalePrice (
    saleprice_id BIGINT AUTO_INCREMENT PRIMARY KEY,
    dealer_id BIGINT NOT NULL,
    variant_id BIGINT NOT NULL,
    base_price DECIMAL(18, 2) NOT NULL DEFAULT 0,
    price DECIMAL(18, 2) NOT NULL,
    effectivedate DATE,
    FOREIGN KEY (dealer_id) REFERENCES Dealer(dealer_id),
    FOREIGN KEY (variant_id) REFERENCES VehicleVariant(variant_id)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- 11. PROMOTIONS
CREATE TABLE Promotions (
    promo_id BIGINT AUTO_INCREMENT PRIMARY KEY,
    dealer_id BIGINT,
    title VARCHAR(255) NOT NULL,
    description TEXT,
    discount_rate DECIMAL(5, 2),
    start_date DATE,
    end_date DATE,
    FOREIGN KEY (dealer_id) REFERENCES Dealer(dealer_id)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- 12. PROMOTION VEHICLE (Many-to-Many)
CREATE TABLE PromotionVehicle (
    promo_id BIGINT NOT NULL,
    vehicle_id BIGINT NOT NULL,
    PRIMARY KEY (promo_id, vehicle_id),
    FOREIGN KEY (promo_id) REFERENCES Promotions(promo_id),
    FOREIGN KEY (vehicle_id) REFERENCES Vehicle(vehicle_id)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- 13. PROMOTION DEALER (Many-to-Many)
CREATE TABLE PromotionDealer (
    promo_id BIGINT NOT NULL,
    dealer_id BIGINT NOT NULL,
    PRIMARY KEY (promo_id, dealer_id),
    FOREIGN KEY (promo_id) REFERENCES Promotions(promo_id),
    FOREIGN KEY (dealer_id) REFERENCES Dealer(dealer_id)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- 14. TEST DRIVE
CREATE TABLE TestDrive (
    testdrive_id BIGINT AUTO_INCREMENT PRIMARY KEY,
    dealer_id BIGINT,
    customer_id BIGINT,
    vehicle_id BIGINT,
    scheduled_date DATETIME,
    status VARCHAR(30) DEFAULT 'SCHEDULED',
    notes VARCHAR(500),
    assigned_by VARCHAR(100),
    created_date DATETIME DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (dealer_id) REFERENCES Dealer(dealer_id),
    FOREIGN KEY (customer_id) REFERENCES Customer(customer_id),
    FOREIGN KEY (vehicle_id) REFERENCES Vehicle(vehicle_id)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- 15. FEEDBACK
CREATE TABLE Feedback (
    feedback_id BIGINT AUTO_INCREMENT PRIMARY KEY,
    testdrive_id BIGINT,
    description VARCHAR(255),
    feedbackType VARCHAR(255),
    content VARCHAR(255),
    status VARCHAR(255),
    FOREIGN KEY (testdrive_id) REFERENCES TestDrive(testdrive_id)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- 16. DEALER REQUEST
CREATE TABLE DealerRequest (
    request_id BIGINT AUTO_INCREMENT PRIMARY KEY,
    dealer_id BIGINT NOT NULL,
    user_id BIGINT NOT NULL,
    request_date DATETIME DEFAULT CURRENT_TIMESTAMP,
    required_date DATETIME,
    status VARCHAR(20) DEFAULT 'PENDING',
    priority VARCHAR(10) DEFAULT 'NORMAL',
    notes VARCHAR(500),
    approved_date DATETIME,
    approved_by VARCHAR(100),
    shipped_date DATETIME,
    delivery_date DATETIME,
    total_amount DECIMAL(18, 2),
    FOREIGN KEY (dealer_id) REFERENCES Dealer(dealer_id),
    FOREIGN KEY (user_id) REFERENCES `User`(user_id)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- 17. DEALER REQUEST DETAIL
CREATE TABLE DealerRequestDetail (
    detail_id BIGINT AUTO_INCREMENT PRIMARY KEY,
    request_id BIGINT NOT NULL,
    variant_id BIGINT NOT NULL,
    color VARCHAR(50),
    quantity INT NOT NULL,
    unit_price DECIMAL(18, 2),
    notes VARCHAR(255),
    FOREIGN KEY (request_id) REFERENCES DealerRequest(request_id),
    FOREIGN KEY (variant_id) REFERENCES VehicleVariant(variant_id)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- 18. ORDER
CREATE TABLE `Order` (
    order_id BIGINT AUTO_INCREMENT PRIMARY KEY,
    order_number VARCHAR(50) UNIQUE,
    customer_id BIGINT NULL,
    user_id BIGINT NOT NULL,
    dealer_id BIGINT NOT NULL,
    total_price DECIMAL(18, 2),
    payment_method VARCHAR(50),
    createddate DATETIME DEFAULT CURRENT_TIMESTAMP,
    updated_date DATETIME DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
    delivery_date DATETIME,
    shipping_address VARCHAR(500),
    notes TEXT,
    status VARCHAR(50) DEFAULT 'PENDING',
    FOREIGN KEY (customer_id) REFERENCES Customer(customer_id),
    FOREIGN KEY (user_id) REFERENCES `User`(user_id),
    FOREIGN KEY (dealer_id) REFERENCES Dealer(dealer_id)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- 19. ORDER DETAIL
CREATE TABLE OrderDetail (
    orderdetail_id BIGINT AUTO_INCREMENT PRIMARY KEY,
    order_id BIGINT NOT NULL,
    vehicle_id BIGINT NOT NULL,
    promotion_id BIGINT,
    quantity INT NOT NULL,
    -- Thông tin xe tại thời điểm đặt hàng (để lưu lịch sử chính xác)
    vehicle_name VARCHAR(255),
    vehicle_color VARCHAR(50),
    vin_numbers TEXT,
    -- Thông tin giá
    unit_price DECIMAL(18, 2),
    price DECIMAL(18, 2) NOT NULL,
    discount_amount DECIMAL(18, 2) DEFAULT 0,
    notes VARCHAR(500),
    FOREIGN KEY (order_id) REFERENCES `Order`(order_id),
    FOREIGN KEY (vehicle_id) REFERENCES Vehicle(vehicle_id),
    FOREIGN KEY (promotion_id) REFERENCES Promotions(promo_id)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- 20. VEHICLE CONTRACT
CREATE TABLE VehicleContract (
    contract_id BIGINT AUTO_INCREMENT PRIMARY KEY,
    contract_number VARCHAR(50) NOT NULL UNIQUE,
    order_id BIGINT NOT NULL,
    order_detail_id BIGINT NOT NULL,
    dealer_id BIGINT NOT NULL,
    customer_id BIGINT NOT NULL,
    vehicle_id BIGINT NOT NULL,
    sale_price DECIMAL(18,2) NOT NULL,
    payment_method VARCHAR(100),
    contract_date DATE NOT NULL DEFAULT (CURRENT_DATE),
    status VARCHAR(50) DEFAULT 'ACTIVE',
    notes VARCHAR(500),
    file_url VARCHAR(500),
    FOREIGN KEY (order_id) REFERENCES `Order`(order_id),
    FOREIGN KEY (order_detail_id) REFERENCES OrderDetail(orderdetail_id),
    FOREIGN KEY (dealer_id) REFERENCES Dealer(dealer_id),
    FOREIGN KEY (customer_id) REFERENCES Customer(customer_id),
    FOREIGN KEY (vehicle_id) REFERENCES Vehicle(vehicle_id)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- 21. PAYMENT
CREATE TABLE Payment (
    payment_id BIGINT AUTO_INCREMENT PRIMARY KEY,
    order_id BIGINT,
    amount DECIMAL(18, 2),
    status VARCHAR(255),
    payment_method VARCHAR(50),
    payment_type VARCHAR(50),
    payment_date DATETIME,
    FOREIGN KEY (order_id) REFERENCES `Order`(order_id)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- 22. DEBT
CREATE TABLE Debt (
    debt_id BIGINT AUTO_INCREMENT PRIMARY KEY,
    user_id BIGINT,
    dealer_id BIGINT,
    customer_id BIGINT,
    amount_due DECIMAL(18, 2),
    amount_paid DECIMAL(18, 2) DEFAULT 0,
    debt_type VARCHAR(20) NOT NULL DEFAULT 'CUSTOMER_DEBT',
    interest_rate DECIMAL(5, 2) DEFAULT 0,
    start_date DATETIME(6),
    due_date DATETIME(6),
    status VARCHAR(20) DEFAULT 'ACTIVE',
    payment_method VARCHAR(50),
    notes VARCHAR(500) NULL,
    created_date DATETIME(6) NULL,
    updated_date DATETIME(6) NULL,
    FOREIGN KEY (customer_id) REFERENCES Customer(customer_id),
    FOREIGN KEY (dealer_id) REFERENCES Dealer(dealer_id),
    FOREIGN KEY (user_id) REFERENCES `User`(user_id)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- 23. DEBT SCHEDULE
CREATE TABLE DebtSchedule (
    schedule_id BIGINT AUTO_INCREMENT PRIMARY KEY,
    debt_id BIGINT NOT NULL,
    period_no BIGINT,
    start_balance DECIMAL(18, 2),
    principal DECIMAL(18, 2),
    interest DECIMAL(18, 2),
    installment DECIMAL(18, 2),
    end_balance DECIMAL(18, 2),
    due_date DATE,
    paid_amount DECIMAL(18, 2) DEFAULT 0,
    payment_date DATE,
    status VARCHAR(20) DEFAULT 'PENDING',
    notes VARCHAR(255),
    FOREIGN KEY (debt_id) REFERENCES Debt(debt_id)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- 24. DEBT PAYMENT
CREATE TABLE DebtPayment (
    payment_id BIGINT AUTO_INCREMENT PRIMARY KEY,
    debt_id BIGINT NOT NULL,
    schedule_id BIGINT,
    amount DECIMAL(18, 2) NOT NULL,
    payment_date DATETIME DEFAULT CURRENT_TIMESTAMP,
    payment_method VARCHAR(50),
    reference_number VARCHAR(100),
    notes VARCHAR(500),
    created_by VARCHAR(100),
    status VARCHAR(20) DEFAULT 'PENDING',
    confirmed_by VARCHAR(100),
    confirmed_date DATETIME,
    rejection_reason VARCHAR(500),
    FOREIGN KEY (debt_id) REFERENCES Debt(debt_id),
    FOREIGN KEY (schedule_id) REFERENCES DebtSchedule(schedule_id)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- =============================================
-- INSERT SAMPLE DATA
-- =============================================

-- Delete existing data first (for idempotent script)
DELETE FROM DebtPayment;
DELETE FROM DebtSchedule;
DELETE FROM Debt;
DELETE FROM Payment;
DELETE FROM VehicleContract;
DELETE FROM OrderDetail;
DELETE FROM `Order`;
DELETE FROM DealerRequestDetail;
DELETE FROM DealerRequest;
DELETE FROM Feedback;
DELETE FROM TestDrive;
DELETE FROM PromotionDealer;
DELETE FROM PromotionVehicle;
DELETE FROM Promotions;
DELETE FROM SalePrice;
DELETE FROM Vehicle;
DELETE FROM InventoryStock;
DELETE FROM ManufacturerStock;
DELETE FROM VehicleDetail;
DELETE FROM VehicleVariant;
DELETE FROM VehicleModel;
DELETE FROM Customer;
DELETE FROM `User`;
DELETE FROM Dealer;

-- Re-enable safe update mode
SET SQL_SAFE_UPDATES = 1;

-- Reset AUTO_INCREMENT
ALTER TABLE Dealer AUTO_INCREMENT = 1;
ALTER TABLE `User` AUTO_INCREMENT = 1;
ALTER TABLE Customer AUTO_INCREMENT = 1;
ALTER TABLE VehicleModel AUTO_INCREMENT = 1;
ALTER TABLE VehicleVariant AUTO_INCREMENT = 1;
ALTER TABLE VehicleDetail AUTO_INCREMENT = 1;
ALTER TABLE ManufacturerStock AUTO_INCREMENT = 1;
ALTER TABLE InventoryStock AUTO_INCREMENT = 1;
ALTER TABLE Vehicle AUTO_INCREMENT = 1;
ALTER TABLE SalePrice AUTO_INCREMENT = 1;
ALTER TABLE Promotions AUTO_INCREMENT = 1;
ALTER TABLE TestDrive AUTO_INCREMENT = 1;
ALTER TABLE Feedback AUTO_INCREMENT = 1;
ALTER TABLE DealerRequest AUTO_INCREMENT = 1;
ALTER TABLE DealerRequestDetail AUTO_INCREMENT = 1;
ALTER TABLE `Order` AUTO_INCREMENT = 1;
ALTER TABLE OrderDetail AUTO_INCREMENT = 1;
ALTER TABLE VehicleContract AUTO_INCREMENT = 1;
ALTER TABLE Payment AUTO_INCREMENT = 1;
ALTER TABLE Debt AUTO_INCREMENT = 1;
ALTER TABLE DebtSchedule AUTO_INCREMENT = 1;
ALTER TABLE DebtPayment AUTO_INCREMENT = 1;

-- 1. Dealers
INSERT INTO Dealer (dealer_id, dealerName, phone, address, createdBy, status) VALUES
(1, 'VinFast Hà Nội', '0241234567', '123 Đường Láng, Đống Đa, Hà Nội', 'system', 'ACTIVE'),
(2, 'VinFast TP.HCM', '0281234567', '456 Nguyễn Văn Linh, Quận 7, TP.HCM', 'system', 'ACTIVE'),
(3, 'VinFast Đà Nẵng', '0236123456', '789 Ngũ Hành Sơn, Đà Nẵng', 'evmStaff', 'ACTIVE');

-- 2. Users

-- 3. Customers
INSERT INTO Customer (customer_id, customerName, email, phone, dealer_id, createBy) VALUES
(1, 'Phạm Minh Tuấn', 'tuan.pham@email.com', '0901234567', 1, 'dealerStaff1'),
(2, 'Hoàng Thị Mai', 'mai.hoang@email.com', '0902345678', 1, 'dealerStaff1'),
(3, 'Đặng Văn Hùng', 'hung.dang@email.com', '0903456789', 2, 'dealerManager2');

-- 4. Vehicle Models
INSERT INTO VehicleModel (model_id, name, description, manufacturer, year, body_type) VALUES
(1, 'VF 3', 'SUV hạng A nhỏ - Xe điện đô thị', 'VinFast', 2024, 'A-SUV'),
(2, 'VF 5', 'SUV hạng A - Xe điện đô thị', 'VinFast', 2024, 'A-SUV'),
(3, 'VF 6', 'SUV hạng B - Xe điện gia đình', 'VinFast', 2024, 'B-SUV'),
(4, 'VF 7', 'SUV hạng C - Xe điện trung cấp', 'VinFast', 2024, 'C-SUV'),
(5, 'VF 8', 'SUV hạng D - Xe điện cao cấp', 'VinFast', 2024, 'D-SUV'),
(6, 'VF 9', 'SUV hạng E - Xe điện đẳng cấp', 'VinFast', 2024, 'E-SUV');

-- 5. Vehicle Variants (2 variants per model: Eco, Plus)
INSERT INTO VehicleVariant (variant_id, model_id, name, msrp, status) VALUES
(1, 1, 'Eco', 398000000, 'ACTIVE'),
(2, 1, 'Plus', 458000000, 'ACTIVE'),
(3, 2, 'Eco', 498000000, 'ACTIVE'),
(4, 2, 'Plus', 568000000, 'ACTIVE'),
(5, 3, 'Eco', 698000000, 'ACTIVE'),
(6, 3, 'Plus', 798000000, 'ACTIVE'),
(7, 4, 'Eco', 898000000, 'ACTIVE'),
(8, 4, 'Plus', 998000000, 'ACTIVE'),
(9, 5, 'Eco', 1090000000, 'ACTIVE'),
(10, 5, 'Plus', 1270000000, 'ACTIVE'),
(11, 6, 'Eco', 1491000000, 'ACTIVE'),
(12, 6, 'Plus', 1685000000, 'ACTIVE');

-- 6. Vehicle Details

-- 7. Manufacturer Stock
INSERT INTO ManufacturerStock (manufacturer_stock_id, warehouse_name, location, status, quantity) VALUES
(1, 'Kho Tổng VinFast Hải Phòng', 'Hải Phòng, Việt Nam', 'ACTIVE', 0);

-- 8. Inventory Stock
INSERT INTO InventoryStock (stock_id, dealer_id, status, quantity) VALUES
(1, 1, 'ACTIVE', 0),
(2, 2, 'ACTIVE', 0),
(3, 3, 'ACTIVE', 0);

-- 9. Vehicles
-- Xe đang ở kho tổng (để dealer có thể yêu cầu)
INSERT INTO Vehicle (vin_number, variant_id, color, manufacture_date, warranty_expiry_date, status, manufacturer_stock_id, inventory_stock_id)
VALUES
('VF5-PLUS-MFG-RED-2024', 4, 'Đỏ',  '2024-10-15', '2027-10-15', 'IN_MANUFACTURER_STOCK', 1, NULL),
('VF6-PLUS-MFG-BLUE-2024', 6, 'Xanh Dương', '2024-10-18', '2027-10-18', 'IN_MANUFACTURER_STOCK', 1, NULL),
('VF9-PLUS-MFG-WHITE-2024', 12, 'Trắng', '2024-10-19', '2027-10-19', 'IN_MANUFACTURER_STOCK', 1, NULL);

-- Xe đã bàn giao cho đại lý
INSERT INTO Vehicle (vin_number, variant_id, color, manufacture_date, warranty_expiry_date, status, manufacturer_stock_id, inventory_stock_id)
VALUES
('VF5-PLUS-DEALER-RED-2024', 4, 'Đỏ', '2024-09-15', '2027-09-15', 'IN_DEALER_STOCK', NULL, 1),
('VF6-PLUS-DEALER-BLUE-2024', 6, 'Xanh Dương', '2024-09-18', '2027-09-18', 'IN_DEALER_STOCK', NULL, 2),
('VF9-PLUS-DEALER-BLACK-2024', 12, 'Đen', '2024-09-19', '2027-09-19', 'IN_DEALER_STOCK', NULL, 2);

-- Đồng bộ lại tồn kho
UPDATE ManufacturerStock ms
SET ms.quantity = (SELECT COUNT(*) FROM Vehicle v WHERE v.manufacturer_stock_id = ms.manufacturer_stock_id)
WHERE ms.manufacturer_stock_id > 0;

UPDATE InventoryStock inv
SET inv.quantity = (SELECT COUNT(*) FROM Vehicle v WHERE v.inventory_stock_id = inv.stock_id)
WHERE inv.stock_id > 0;

-- 10. Sale Prices
INSERT INTO SalePrice (saleprice_id, dealer_id, variant_id, base_price, price, effectivedate) VALUES
(1, 1, 4, 568000000, 568000000, '2024-10-01'),
(2, 1, 10, 1270000000, 1270000000, '2024-10-01'),
(3, 2, 3, 498000000, 498000000, '2024-10-05'),
(4, 2, 12, 1685000000, 1685000000, '2024-10-05');

-- 11. Promotions
INSERT INTO Promotions (promo_id, dealer_id, title, description, discount_rate, start_date, end_date) VALUES
(1, 1, 'Khuyến mãi VF 5', 'Giảm 2% cho VF 5', 2.00, '2024-10-01', '2024-12-31'),
(2, 2, 'Khuyến mãi VF 9', 'Giảm 3% cho VF 9', 3.00, '2024-10-01', '2024-12-31'),
(3, NULL, 'Khuyến mãi toàn hệ thống', 'Giảm 1% cho tất cả xe', 1.00, '2024-11-01', '2024-11-30');

-- 12. Promotion Vehicle
INSERT INTO PromotionVehicle (promo_id, vehicle_id) VALUES
(1, 1), (1, 2), (2, 3), (3, 1), (3, 2), (3, 3);

-- 13. Promotion Dealer
INSERT INTO PromotionDealer (promo_id, dealer_id) VALUES
(1, 1), (2, 2), (3, 1), (3, 2), (3, 3);

-- 14. Test Drives
INSERT INTO TestDrive (testdrive_id, dealer_id, customer_id, vehicle_id, scheduled_date, status, assigned_by) VALUES
(1, 1, 1, 1, '2024-10-25 10:00:00', 'SCHEDULED', 'dealerStaff1'),
(2, 1, 2, 2, '2024-10-26 14:00:00', 'SCHEDULED', 'dealerStaff1'),
(3, 2, 3, 3, '2024-10-27 09:00:00', 'COMPLETED', 'dealerManager2');

-- 15. Feedback
INSERT INTO Feedback (feedback_id, testdrive_id, description, feedbackType, content, status) VALUES
(1, 3, 'Xe rất tốt', 'POSITIVE', 'Lái êm, thoải mái', 'REVIEWED');

-- 16. Dealer Requests
INSERT INTO DealerRequest (request_id, dealer_id, user_id, request_date, status, notes) VALUES
(1, 1, 3, '2024-10-20', 'PENDING', 'Yêu cầu bổ sung xe VF 5'),
(2, 2, 5, '2024-10-19', 'APPROVED', 'Đã duyệt, chờ phân bổ');

-- 17. Dealer Request Details
INSERT INTO DealerRequestDetail (detail_id, request_id, variant_id, color, quantity, unit_price) VALUES
(1, 1, 1, 'Đỏ', 5, 540000000),
(2, 1, 3, 'Trắng', 3, 765000000),
(3, 2, 4, 'Đen', 2, 1090000000);

-- 18. Orders
INSERT INTO `Order` (order_id, customer_id, user_id, dealer_id, total_price, payment_method, createddate, status) VALUES
(1, 1, 4, 1, 529200000, 'Chuyển khoản', '2024-10-22', 'COMPLETED'),
(2, 3, 5, 2, 1634950000, 'Chuyển khoản', '2024-10-23', 'COMPLETED');

-- 19. Order Details
INSERT INTO OrderDetail (orderdetail_id, order_id, vehicle_id, promotion_id, quantity, price) VALUES
(1, 1, 1, 1, 1, 529200000),
(2, 2, 3, 2, 1, 1634950000);

-- 20. Payments
INSERT INTO Payment (payment_id, order_id, amount, status, payment_method, payment_date) VALUES
(1, 1, 529200000, 'COMPLETED', 'Chuyển khoản', '2024-10-22'),
(2, 2, 1634950000, 'COMPLETED', 'Chuyển khoản', '2024-10-23');

-- 21. Debts
INSERT INTO Debt (debt_id, user_id, dealer_id, customer_id, amount_due, amount_paid, debt_type, status) VALUES
(1, 4, 1, 1, 529200000, 100000000, 'CUSTOMER_DEBT', 'ACTIVE'),
(2, 5, 2, 3, 1634950000, 500000000, 'CUSTOMER_DEBT', 'ACTIVE');

-- 22. Debt Schedules
INSERT INTO DebtSchedule (schedule_id, debt_id, period_no, start_balance, principal, interest, installment, end_balance, due_date, paid_amount, status) VALUES
(1, 1, 1, 529200000, 100000000, 10000000, 110000000, 429200000, '2024-11-22', 110000000, 'PAID'),
(2, 1, 2, 429200000, 100000000, 8584000, 108584000, 329200000, '2024-12-22', 0, 'PENDING'),
(3, 2, 1, 1634950000, 300000000, 32699000, 332699000, 1334950000, '2024-11-23', 332699000, 'PAID'),
(4, 2, 2, 1334950000, 300000000, 26699000, 326699000, 1034950000, '2024-12-23', 167301000, 'PARTIAL');

-- 23. Debt Payments
INSERT INTO DebtPayment (payment_id, debt_id, schedule_id, amount, payment_date, payment_method, created_by) VALUES
(1, 1, 1, 110000000, '2024-10-25', 'Chuyển khoản', 'dealerStaff1'),
(2, 2, 3, 332699000, '2024-10-26', 'Chuyển khoản', 'dealerManager2'),
(3, 2, 4, 167301000, '2024-11-15', 'Chuyển khoản', 'dealerManager2');

-- Re-enable safe update mode
SET SQL_SAFE_UPDATES = 1;
